<div>
    <div
      *ngIf="cantidadUniversidades > 0; then mostrarDatos; else mensajeVacio"
    ></div>
  </div>
  
  <ng-template #mostrarDatos>
    <div class="row border mx-1">
      <div class="col-md-8 my-2">
        <table class="table table-bordered table-sm table-hover">
          <thead>
            <tr>
              <th style="width: 5%">Nº</th>
              <th style="width: 40%">Universidad</th>
              <th style="width: 35%">Nombre del docente</th>
              <th style="width: 20%">Logo Universidad</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let objUniP of arregloUniversidadesDocente; let i = index"
              (click)="seleccionardocenteUni(objUniP)"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ objUniP.codigoUniversidad.nombreUniversidad }}</td>
              <td>{{ objUniP.codigoDocente.nombreDocente }}</td>
              <td>{{ objUniP.codigoUniversidad.nombreLogo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="col-md-4 my-2">
        <div
          *ngIf="docenteUniSeleccionado.codigoDocente.codigo != 0"
          class="bg-light"
        >
          <div class="row">
            <label class="col-sm-3 text-success"><small>Universidad</small></label>
            <div class="col-sm-8">
              {{ docenteUniSeleccionado.codigoUniversidad.nombreUniversidad }}
            </div>
          </div>
  
          <div class="row">
            <label class="col-sm-3 text-success"><small>logo</small></label>
            <div class="col-sm-8">
              {{ docenteUniSeleccionado.codigoUniversidad.nombreLogo }}
            </div>
          </div>
  
          <div class="text-left">
            <img
              class="img-thumbnail"
              style="width: 200px; height: 100%"
              alt="LogoU"
              [src]="docenteUniSeleccionado.codigoUniversidad.logoBase64"
              onerror="this.src='../assets/img/no_photo.png'"
            />
          </div>
  
          <div class="row mt-2">
            <label class="col-sm-3 text-success"><small>Documento</small></label>
            <div class="col-sm-8">
              {{ docenteUniSeleccionado.codigoDocente.documento }}
            </div>
          </div>
  
          <div class="row">
            <label class="col-sm-3 text-success"><small>Profesor</small></label>
            <div class="col-sm-8">
              {{ docenteUniSeleccionado.codigoDocente.nombreDocente }}
            </div>
          </div>
  
          <div class="text-left">
            <img
              class="img-thumbnail"
              style="width: 200px; height: 100%"
              alt="ImgDocente"
              [src]="docenteUniSeleccionado.codigoDocente.fotoBase64"
              onerror="this.src='../assets/img/no_photo.png'"
            />
          </div>
  
        </div>
      </div>
    </div>
  </ng-template>
  
  <ng-template #mensajeVacio>
    <div class="row border justify-content-md-center">
      <div class="alert alert-danger mt-3">
        No existen universidades para este profesor
      </div>
    </div>
  </ng-template>